<% layout('./layouts/boilerplate') -%>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<img src="https://images.unsplash.com/photo-1708716340992-3aa575d89cfc?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
<p><%= campground.description %></p>
<p>
<a href="/campgrounds/<%= campground._id %>/edit">Edit the Camp</a>
</p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>
<footer>
    <a href="/campgrounds">All Campgrounds</a>
</footer>